@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color:#0D28A6;
}

body{
    background-color: white;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

a.box{
    height: 34px;
    width: 100px;
    background-color: #0D28A6;
    border-radius: 5px;
}

a.nav-link{
    font-size: 14px;
    color:black;
    margin-right: 10px;
    &:hover{
        transition: all 0.3s ease;
        color: var(--primary-color);
        font-weight: 600;
    }
}

.register{
    margin-left:10px;
}

.sewa-mobil{
    @media screen and (min-width: 1200px){
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px){
        font-size: 24px;
        font-weight: 700;
    }
    @media screen and (min-width: 768px) and (max-width: 992px){
        font-size: 24px;
        font-weight: 700;
    }
    @media screen and (min-width: 576px) and (max-width: 768px){
        font-size: 24px;
        font-weight: 700;
    }
    @media screen and (max-width: 576px){
        font-size: 16px;
        font-weight: 700;
    }
}

.bg-mobil{
    // @media screen and (min-width: 1440px){
    //     transform: translateX(35%);
    // }
    // @media screen and (min-width: 1200px) and (max-width: 1440px) {
    //     width: 100%;
    //     height: auto;
    //     transform: translateX(20%);
    // }
    // @media screen and (min-width: 992px) and (max-width: 1200px){
    //     width: 100%;
    //     height: auto;
    //     transform: translateX(30%);
    // }
    // @media screen and (min-width: 768px) and (max-width: 992px){
    //     width: 100%;
    //     height: auto;
    //     transform: translateX(30%);
    // }
    // @media screen and (min-width: 576px) and (max-width: 768px){
    //     transform: translateX(0%);
    // }
    // @media screen and (max-width: 576px){
    //     margin-top:30px;
    //     width:100%;
    //     height:auto;
    //     transform: translateX(10%);
    // }

    // @media (max-width: 575.98px) { ... }

    // // Small devices (landscape phones, 576px and up)
    // @media (min-width: 576px) and (max-width: 767.98px) { ... }

    // // Medium devices (tablets, 768px and up)
    // @media (min-width: 768px) and (max-width: 991.98px) { ... }

    // // Large devices (desktops, 992px and up)
    // @media (min-width: 992px) and (max-width: 1199.98px) { ... }

    // // Extra large devices (large desktops, 1200px and up)
    // @media (min-width: 1200px) { ... }
}

.service-list{
    list-style: none;
    margin-left: -80px;
}

.service-list a{
    margin-left: 30px;
}