@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color:#0D28A6;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}

a.box {
  height: 34px;
  width: 100px;
  background-color: #0D28A6;
  border-radius: 5px;
}

a.nav-link {
  font-size: 14px;
  color: black;
}

a.nav-link:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  a.nav-link {
    text-align: end;
  }
}

.register {
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .register {
    margin-left: 88%;
  }
}

@media screen and (max-width: 580px) {
  .register {
    margin-left: 80%;
  }
}

@media screen and (max-width: 400px) {
  .register {
    margin-left: 75%;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42, 41, 42, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: black;
}

.sewa-mobil {
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .sewa-mobil {
    font-size: 36px;
    line-height: 54px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sewa-mobil {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .sewa-mobil {
    font-size: 24px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .sewa-mobil {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .sewa-mobil {
    width: 80%;
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .bg-mobil {
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .bg-mobil {
    width: 100%;
    height: auto;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .bg-mobil {
    width: 100%;
    height: auto;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .bg-mobil {
    width: 496px;
    height: auto;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .bg-mobil {
    width: 100%;
    height: auto;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@media screen and (max-width: 576px) {
  .bg-mobil {
    margin-top: 30px;
    width: 100%;
    height: auto;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
}

.selamat {
  padding-right: 30%;
}

@media screen and (max-width: 992px) {
  .serviceimg {
    margin-top: 30px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .text-service {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .text-service {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.text-service h2 {
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .text-service h2 {
    font-size: 36px;
    line-height: 54px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .text-service h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .text-service h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .text-service h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .text-service h2 {
    width: 80%;
    font-size: 24px;
  }
}

.text-service ol {
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .imgservice {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .imgservice {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 10%;
  }
}

.service-list {
  list-style: none;
  margin-left: -65px;
}

.service-list a {
  margin-left: 30px;
}

.whypic {
  width: 32px;
  height: 32px;
  margin-top: 24px;
  margin-left: 24px;
}

.card {
  height: 196px;
  width: 268px;
}

.card-title {
  padding-top: 6px;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 24px;
}

.description {
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 14px;
  margin-left: 24px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 0.875rem;
  background: #F1F3FF;
  height: 16.875rem;
  width: 38.688rem;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-prev, .btn-next {
  margin-top: 10px;
  border-style: hidden;
  background-color: white;
}

.sewamobil {
  width: 100%;
  height: 326px;
  background-color: #0D28A6;
  border-radius: 13px;
  margin-top: 156px;
  color: white;
}

.sewa {
  font-size: 36px;
  padding: 64px 0 16px 0;
}

@media screen and (max-width: 992px) {
  .sewa {
    font-size: 28px;
  }
}

.p-sewa {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

@media screen and (min-width: 992px) {
  .p-sewa {
    margin: 0 30% 0 30%;
  }
}

@media screen and (max-width: 992px) {
  .p-sewa {
    margin: 0 10% 0 10%;
    margin-bottom: 5px;
  }
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.accordion-button:not(.collapsed) {
  color: black;
  -webkit-box-shadow: inset;
          box-shadow: inset;
  background-color: white;
}

.accordion-button {
  border: 1px solid #d4d4d4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.accordion-body {
  border: 1px solid #d4d4d4;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

footer {
  font-size: 14px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.foot-link-parent {
  list-style: none;
}

.foot-link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.foot-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .foot-link {
    margin-left: -30px;
  }
}

@media screen and (max-width: 768px) {
  .foot-link {
    margin-left: -30px;
  }
}

.foot-list {
  padding-bottom: 16px;
  margin-left: 86px;
}

.foot-logo {
  padding-left: 5%;
}

div.boxbwh {
  height: 34px;
  width: 100px;
  background-color: #0D28A6;
  border-radius: 5px;
  margin-left: 40%;
}

@media screen and (min-width: 768px) {
  div.boxbwh {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */