@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color:#0D28A6;
}

html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Helvetica', sans-serif;
    overflow-x: hidden;
}

a.box{
    height: 34px;
    width: 100px;
    background-color: #0D28A6;
    border-radius: 5px;
}

a.nav-link{
    font-size: 14px;
    color:black;
    margin-right: 10px;
    &:hover{
        transition: all 0.3s ease;
        color: var(--primary-color);
        font-weight: 600;
    }
}

//section1
.register{
    margin-left:10px;
}

.sewa-mobil{
    font-weight: 700;
    @media screen and (min-width: 1200px){
        font-size: 36px;
        line-height: 54px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px){
        font-size: 24px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px){
        font-size: 24px;
    }
    @media screen and (min-width: 576px) and (max-width: 768px){
        font-size: 24px;
    }
    @media screen and (max-width: 576px){
        width: 80%;
        font-size: 24px;
    }
}

.bg-mobil{
    @media screen and (min-width: 1440px){
        transform: translateX(35%);
    }
    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        width: 100%;
        height: auto;
        transform: translateX(25%);
    }
    @media screen and (min-width: 992px) and (max-width: 1200px){
        width: 100%;
        height: auto;
        transform: translateX(30%);
    }
    @media screen and (min-width: 768px) and (max-width: 992px){
        width: 496px;
        height: auto;
        transform: translateX(0%);
    }
    @media screen and (min-width: 576px) and (max-width: 768px){
        width: 100%;
        height: auto;
        transform: translateX(30%);
    }
    @media screen and (max-width: 576px){
        margin-top:30px;
        width:100%;
        height:auto;
        transform: translateX(5%);
    }


}

.selamat{
    padding-right: 30%;
}

// section2
.serviceimg{
    @media screen and (max-width: 992px){
        margin-top:30px;
        width:100%;
        height:auto;
    }  
}
.text-service{
    @media screen and (max-width: 992px){
        margin-left: 1rem;
    } 
    @media screen and (max-width: 576px){
        order: 0;
    }
}
.text-service h2{
    font-weight: 700;
    @media screen and (min-width: 1200px){
        font-size: 36px;
        line-height: 54px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px){
        font-size: 24px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px){
        font-size: 24px;
    }
    @media screen and (min-width: 576px) and (max-width: 768px){
        font-size: 24px;
    }
    @media screen and (max-width: 576px){
        width: 80%;
        font-size: 24px;
    }
}

.text-service ol{
    font-size: 14px;
}
.imgservice{
    @media screen and (max-width: 992px){
        width: 80%;
    } 
    @media screen and (max-width: 576px){
        order: 1;
        margin-left: 10%;
    }
}

.service-list{
    list-style: none;
    margin-left: -65px;
}

.service-list a{
    margin-left: 30px;
}

// section3
.whypic{
    width: 32px;
    height: 32px;
    margin-top: 24px;
    margin-left: 24px;
}

.card{
    height: 196px; 
    width: 268px;
}

.card-title{
    padding-top: 6px;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 24px;
}

.description{
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 14px;
    margin-left: 24px;
}

//section4


//section5
.sewamobil{
    width: 100%;
    height: 326px;
    background-color: #0D28A6;
    border-radius: 13px;
    margin-top: 156px;
    color: white;
}
.sewa{
    font-size: 36px;
    padding: 64px 0 16px 0;
    @media screen and (max-width: 992px) {
        font-size: 28px;
    }
}
.p-sewa{
    // padding: 16px 0 52px 0;
    // margin: 0 350px 0 350px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: white;

    @media screen and (min-width: 992px) {
        margin: 0 30% 0 30%;
        
    }
    @media screen and (max-width: 992px) {
        margin: 0 10% 0 10%;
        margin-bottom: 5px;
    }

}


//section6
h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}


.accordion-button:not(.collapsed){
    color: black;
    box-shadow: inset;
    background-color: white;
}

.accordion-button{
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 4px;
}

.accordion-body{
    border: 1px solid #d4d4d4;
    border-top: none;
    box-sizing: border-box;
    border-radius: 4px;
}

//footer
footer{
    font-size: 14px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.foot-link-parent{
    list-style: none;
    
}
.foot-link{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    
    &:hover{
        text-decoration: none;
        color:var(--primary-color)
    }

    @media screen and (min-width: 768px) and (max-width: 992px){
        margin-left: -30px;
    }
    @media screen and (max-width: 768px){
        margin-left: -30px;
        
    }
}

.foot-list{
    padding-bottom: 16px;
    margin-left: 86px;
}

.foot-logo{
    padding-left: 5%;
}